@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.scroll {
  top: -130px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.header__logo img {
  height: 27.5px;
  width: 27.5px;
}

.header__logo p {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  color: #ffffff84;
  font-size: 18px;
  font-family: "Segoe UI";
}

.nav__list {
  display: flex;
  gap: 30px;
}

.dropdown {
  position: relative;
}

.dropdown .nav__link {
  display: flex;
  gap: 13px;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow path {
  stroke: #ffffff84;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 125%;
  left: 0;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 90px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu .dropdown-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu .dropdown-link:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu.visible {
  opacity: 1;
  visibility: visible;
}

.nav__link {
  transition: 0.2s;
}

.nav__link:hover {
  color: var(--accent-text);
  text-shadow: 0px 0px 8px var(--accent-text);
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.header__btn {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  padding: 12px 25px;
  border: 1px solid #ffffff99;
  border-radius: 12px;
  transition: 0.2s;
}

.header__btn:hover {
  color: var(--accent-text);
  border: 1px solid var(--accent-text);
  text-shadow: 0px 0px 8px var(--accent-text);
}

.header__btn:active {
  transform: scale(0.9);
}
.desktop-btn {
  margin-right: 20px;
}
.header-mobile {
  display: none;
}
.mobile-btn {
  display: none;
}
/* ======================================= */

.main__hero {
  padding-top: 250px;
}

.hero__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 885px;
  height: 100%;
}
.hero__title {
  max-width: 700px;
  background: linear-gradient(180deg, var(--general-text), var(--accent-text));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Saira";
  font-size: 74px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
}
.hero__text {
  color: #ffffff99;
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 50px;
  max-width: 360px;
}
.hero__btns {
  display: flex;
  gap: 20px;
}
.work-btn {
  color: #010916;
  border-radius: 12px;
  box-shadow: inset 0px -6px 10px 0px #0000004d;
  background: var(--general-text);
}

.quote-btn {
  color: var(--general-text);
  border-radius: 12px;
  box-shadow: inset 0px -5px 15px 0px #13145efa, 0px -1px 2px 0px #8fb6ff40;
  background: #000;
}
.btn-1,
.quote-btn {
  padding: 12px 25px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  text-align: left;
}
.hero__decor{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.hero__decor img:nth-child(1) {
  z-index: -1;
  position: absolute;
  top: -9.4%;
  left: 8.5%;
  height: 123px;
}
.hero__decor img:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 5%;
  left: -6.5%;
  height: 230px;
}
.hero__decor img:nth-child(3) {
  z-index: -1;
  position: absolute;
  top: 24%;
  left: 10.5%;
  height: 223px;
}
.hero__decor img:nth-child(4) {
  z-index: -2;
  position: absolute;
  top: 36.8%;
  left: 3.2%;
  height: 194px;
}
.hero__decor img:nth-child(5) {
  z-index: -3;
  position: absolute;
  top: 46.2%;
  left: -0.7%;
  height: 208px;
}
.hero__decor img:nth-child(6) {
  z-index: -3;
  position: absolute;
  top: 68.7%;
  left: -1.8%;
  height: 111px;
}
.hero__decor img:nth-child(7) {
  z-index: -1;
  position: absolute;
  top: 41%;
  height: 225px;
}
.hero__decor img:nth-child(8) {
  z-index: -1;
  position: absolute;
  top: -15.5%;
  right: 17.5%;
  height: 119px;
}
.hero__decor img:nth-child(9) {
  z-index: -1;
  position: absolute;
  top: -2%;
  right: -1%;
  height: 135px;
}
.hero__decor img:nth-child(10) {
  z-index: -1;
  position: absolute;
  top: 20.3%;
  right: -0.7%;
  height: 87px;
}
.hero__decor img:nth-child(11) {
  z-index: -1;
  position: absolute;
  top: 24.1%;
  right: 10.4%;
  height: 221px;
}
.hero__decor img:nth-child(12) {
  z-index: -2;
  position: absolute;
  top: 36.1%;
  right: 3.7%;
  height: 194px;
}
.hero__decor img:nth-child(13) {
  z-index: -3;
  position: absolute;
  top: 46.4%;
  right: -0.3%;
  height: 205px;
}
.hero__decor img:nth-child(14) {
  z-index: -1;
  position: absolute;
  top: 72%;
  right: -0.7%;
  height: 260px;
}

.hero__decoration {
  display: flex;
  justify-content: center;
  z-index: -5;
  position: absolute;
  bottom: -29%;
  width: 100%;
  height: 100%;
}

.hero__decoration::before {
  position: absolute;
  top: 0%;
  content: "";
  height: 220px;
  max-width: 740px;
  width: 100%;
  border-radius: 100%;
  filter: blur(250px);
  fill: #e1bbfb;
  box-shadow: 0 -110px 4px 0 #bf7bdb;
  }

.hero__decoration::after {
  position: absolute;
  z-index: 1;
  bottom: 7%;
  content: "";
  height: 200px;
  max-width: 1400px;
  width: 100%;
  background: #000915;
  filter: blur(13px);
  fill: #e1bbfb;
  /* box-shadow: 0 -60px 205px 0 #000915; */
}

.hero__decoration img {
  position: absolute;
  width: 142.7%;
  bottom: 8.9%;
}

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

.main__about {
  padding: 90px 0;
}
.about__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
  gap: 25px;
}
.about__title {
  max-width: 650px;
}
.about__title span {
  color: var(--accent-text);
}
.about__info {
  max-width: 358px;
}
.about__content {
  display: flex;
  gap: 25px;
}
.about__project {
  background: url(../img/decor/Project.png) 50% 100% / cover no-repeat;
  padding: 64px 20px 255px 64px;
  max-width: 643px;
  width: 100%;
  border-radius: 20px;
}
.project-title {
  font-family: "Saira";
  font-size: 50px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 3px;
  text-align: left;
  text-transform: capitalize;
  color: var(--general-text);
  margin-bottom: 20px;
  max-width: 358px;
}
.project-text {
  color: #ffffff99;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 358px;
  margin-bottom: 55px;
}
.project-btn {
  padding: 12px 25px;
  color: #010916;
  border-radius: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  box-shadow: inset -1px -7px 17px 0px #c9a2ff;
  background: var(--general-text);
  max-width: 202px;
}
.service-card {
  display: flex;
  border-radius: 20px;
  background: linear-gradient(-48.01deg, #060b21 75.288%, #0e142f);
  margin-bottom: 25px;
  padding: 40px 25px;
  align-items: center;
  justify-content: space-between;
  max-width: 643px;
  width: 100%;
  height: 179px;
  transition: 0.3s;
}
.service-card:hover {
  box-sizing: border-box;
  border: 1px solid #e1bbfb;
  border-radius: 20px;
  box-shadow: inset 0px 0px 30px 2px #aa2eff4a;
  background: linear-gradient(-48.01deg, #060b21 75.288%, #0e142f 97.777%);
}
.service-card:nth-child(3) {
  margin-bottom: 0;
}
.card-title {
  padding: 10px 20px;
  font-family: "Saira";
  font-size: 26px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  color: var(--general-text);
}
.card-text {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: var(--general-text);
  min-width: 260px;
  max-width: 375px;
}

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

.main__service{
  padding: 90px 0;
}
.service__inner{
  position: relative;
}
.service__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 25px;
}
.service__title {
  max-width: 634px;
  letter-spacing: 4px;
}
.service__title span{
  color: var(--accent-text);
}
.service__info {
  max-width: 358px;
}
.service__info-title {
}
.service__info-text {
}
.service__carousel{
  display: flex;
  justify-content: center;
}
.service__carousel img{
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  top: 20%;
  right: 17%;
  height: 270px;
  width: 270px;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
  width: 640px;
  overflow: hidden;
  position: relative;
  font-family: 'Saira';
  font-size: 68px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 3px;
  text-align: left;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.carousel::before,
.carousel::after{
  content: '';
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 120%;
  filter: blur(20px);
  background: #000915f0;
}

.carousel::before{
  top: -6%;
}
.carousel::after{
  bottom: -8%;
}

.carousel-item {
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  text-align: center;
}

@keyframes scroll-up {
  to {transform: translateY(-106px);}
}

@keyframes scroll-down {
  to {transform: translateY(106px);}
}

#item-info-container {
  border-style: solid;
  border-width: 3px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100%;

  margin-top: 20px;
}
.service__decor img:nth-child(1){
  position: absolute;
  top: 30%;
  right: 0%;
  height: 87px;
  z-index: 1;
}
.service__decor img:nth-child(2){
  height: 258px;
  position: absolute;
  top: 36.5%;
  left: -10%;
  z-index: 1;
}
.service__decor img:nth-child(3){
  height: 166px;
  position: absolute;
  top: 81.2%;
  right: 3.2%;
  z-index: 1;
}

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

.main__our-work {
  padding: 90px 0;
}
.our-work__top {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 110px;
}
.our-work__title {
  max-width: 741px;
}
.our-work__title span{
  color: var(--accent-text);
}
.our-work__info {
  display: flex;
  flex-direction: column;
}
.our-work__info-title {
  max-width: 200px;
  margin-bottom: 30px;
}
.our-work__btn {
  border: 1px solid #e1bbfb;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}
.our-work__cards {
  display: flex;
  gap: 30px;
}
.our-work__card {
  max-width: 417px;
  width: 100%;
  min-height: 354px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  background: linear-gradient(117.26deg, rgb(6, 11, 33) 74.608%,rgb(21, 27, 54) 98.351%),rgb(255, 255, 255);
}
.our-work__card:nth-child(2){
  background: linear-gradient(-48.01deg, rgb(6, 11, 33) 75.663%,rgb(14, 20, 47) 97.373%),rgb(255, 255, 255);
}
.our-work__card:nth-child(3){
  background: linear-gradient(224deg, rgb(6, 11, 33) 75.663%,rgb(14, 20, 47) 97.373%),rgb(255, 255, 255);
}
.our-work__card img{
  max-width: 378px;
  width: 100%;
  height: 202px;
  border-radius: 12px;
  margin-bottom: 26px;
}
.card-info {
  display: flex;
  gap: 17px;
  align-items: end;
}
.our-work__card-title {
  margin-left: 11.5px;
  font-family: 'Segoe UI';
  font-size: 25.61px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 248px;
  color: var(--general-text);
}
.our-work__card-btn {
  color: rgb(223, 185, 248);
font-family: 'Segoe UI';
font-size: 19.7px;
font-weight: 600;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
max-width: 102px;
width: 100%;
text-shadow: 
    0 0 3px #33038c, 
    0 0 6px #33038c, 
    0 0 22px #33038c, 
    0 0 45px #33038c, 
    0 0 76px #33038c, 
    0 0 134px #33038c;
}

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */


.main__contact {
  padding-top: 120px;
}
.contact__inner {
  position: relative;
  min-height: 700px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.contact__title {
  max-width: 437px;
  font-family: 'Saira';
  font-weight: 700;
  font-size: 74px;
  line-height: 120%;
  letter-spacing: 3px;
  background: linear-gradient(140deg, #fff 0%, #e1bbfb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 235px;
}
.contact__socials{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contact__socials i{
  transition: .3s;
}
.contact__socials i:hover{
  transform: scale(1.1);
}
#apple,
#twitter,
#github,
#facebook {
  font-size: 4em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  animation: animate 1.5s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.contact__decor{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact__decor img{
  position: absolute;
}
.contact__decor img:nth-child(1){
  width: 120px;
  z-index: 2;
  top: -13%;
  right: 15.2%;
}
.contact__decor img:nth-child(2){
  z-index: -3;
  top: 46%;
  right: -3.5%;
  width: 86px;
}
.contact__decor img:nth-child(3){
  z-index: -1;
  top: 38.5%;
  left: 3.1%;
  width: 228px;
}
.contact__decoration{
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.contact__decoration img{
  left: -13%;
  bottom: -29%;
  max-width: 2127px;
  position: absolute;
  z-index: -2;
}
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

.footer__inner{
  padding: 80px 0 40px;
  position: relative;
}
.footer__inner::before{
  content: '';
  position: absolute;
  top: 0%;
  left: -36%;
  height: 1px;
  width: 150vw;
  background: grey;
}
.copyright-text {
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 16px;
  color: var(--general-text);
  opacity: 0.5;
  gap: 20px;
}
.copyright-text p:nth-child(1){

}
.copyright-text p:nth-child(2){

}

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

@media (max-width: 1350px){
  .our-work__cards{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* ========================== */
  .contact__decoration img {
    left: -26%;
  }
}
@media (max-width: 1200px) {
  .hero__decoration::before {
    top: -5%;
  }
  /* ======================= */
  .main__contact{
  }
  .contact__inner{
    min-height: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__title{
    max-width: 800px;
    text-align: center;
  }
  .contact__decor img:nth-child(3){
    left: -4%;
  }
  .contact__decoration{
    display: flex;
    justify-content: center;
  }
  .contact__decoration img {
    bottom: -15%;
    left: unset;
  }
  .contact__socials{
    justify-content: center;
  }
  /* ====================== */
  .footer__inner{
    margin-top: 0;
  }
}
@media (max-width: 1000px) {
  .hero__decoration img{
    bottom: 20%;
  }
  .hero__decoration::after{
    bottom: 12%;
  }
  /* ========================= */
  .about__top{
    flex-direction: column;
    align-items: center;
  }
  .about__info-title{
    text-align: center;
  }
  .about__content{
    flex-direction: column;
    align-items: center;
  }
  /* ========================= */
  .service__title{
    text-align: center;
  }
  .top-h4{
    text-align: center;
  }
  .top-text{
    text-align: center;
  }
  .service__top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
  }
  .service__carousel img{
    top: 40%;
  }
  /* =========================== */
  .our-work__top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .our-work__title{
    text-align: center;
  }
  .our-work__cards{
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #010915fa;
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }
  .desktop-btn {
    display: none;
  }
  .header-mobile {
    display: flex;
    gap: 20px;
  }
  .mobile-btn {
    display: block;
  }
  /* ======================= */
  .hero__decoration img{
    bottom: 20%;
  }
  .hero__decoration::after{
    bottom: 2%;
  }
  .hero__decor img:nth-child(6) {
    top: 77%;
  }
  .hero__decor img:nth-child(3),
  .hero__decor img:nth-child(4),
  .hero__decor img:nth-child(5),
  .hero__decor img:nth-child(11),
  .hero__decor img:nth-child(12),
  .hero__decor img:nth-child(13) {
    display: none;
  }
  .hero__decor img:nth-child(14) {
    top: 58.5%;
    right: 0%;
  }
  .hero__decor img {
    transform: scale(0.8);
  }
  .hero__decoration {
    bottom: -11%;
  }
  .hero__decoration img {
    bottom: 10%;
  }
  .hero__decoration::before{
    top: 10%;
  }
  /* =========================== */
  .main__about {
    padding-top: unset;
  }
  /* =========================== */
  .our-work__cards{
    justify-content: left;
    flex-direction: column;
    padding: 0 50px;
  }
  .our-work__card:nth-child(2){
    align-self: flex-end;
  }
  /* ============================ */
  .contact__inner{
    min-height: 800px;
  }
  .contact__decor img:nth-child(3){
    left: -12%;
  }
  .contact__decoration img{
    width: 1700px;
    bottom: -15%;
  }
}
@media (max-width: 800px){
  .hero__decor img:nth-child(7) {
    top: 38%;
  }
  .hero__decoration img {
    bottom: 17%;
  }
  .hero__decoration::after{
    bottom: 6%;
  }
  /* ======================== */
  .contact__title{
    font-size: 9vw;
  }
}
@media (max-width: 700px) {
  .hero__title {
    font-size: 11vw;
  }
  .hero__decor img:nth-child(6) {
    top: 63%;
    left: 2%;
  }
  .hero__decor img:nth-child(14) {
    top: 53%;
    right: -7%;
  }
  /* ============================= */
  .main__about {
    padding-top: 0;
  }
  .about__title {
    font-size: 8vw;
    text-align: center;
  }
  /* ============================= */
  .service__title{
    font-size: 8vw;
  }
  .service__carousel img{
    height: 170px;
    width: 170px;
  }
  .carousel{
    font-size: 9vw;
  }
  .service__decor img{
    transform: scale(0.8);
  }
  /* =============================== */
  .our-work__title{
      font-size: 8vw;
  }
}
@media (max-width: 600px){
  .hero__inner{
    min-height: 785px;
  }
  .hero__decor img {
    transform: scale(0.7);
  }
  .hero__decor img:nth-child(7) {
    top: 37%;
  }
  .hero__decoration img {
    bottom: 23%;
  }
  .hero__decoration::after{
    top: 67%;
  }
  /* ============================ */
  .about__service{
    width: 100%;
  }
  .service-card{
    flex-direction: column;
    height: auto;
  }
  .card-title,
  .card-text{
    text-align: center;
  }
  .service__decor img:nth-child(2){
    display: none;
  }
  /* ============================ */
  .our-work__cards{
    padding: 0;
  }
  /* ============================= */
  .contact__inner{
    min-height: 700px;
  }
  .contact__decor img:nth-child(3){
    left: -22%;
  }
  .contact__decoration img{
    width: 1300px;
    bottom: -5%;
  }
}
@media (max-width: 450px) {
  .header-inner {
    align-items: start;
  }
  .header__logo {
    margin-top: 10px;
  }
  .header-mobile {
    flex-direction: column-reverse;
    align-items: end;
    gap: 0;
  }
  /* ================================== */
  .hero__decoration img {
    width: 177.7%;
  }
  .hero__decor img {
    transform: scale(0.5);
  }
  .hero__decor img:nth-child(1) {
    left: -15.5%;
  }
  .hero__decor img:nth-child(2) {
    left: -24.5%;
  }
  .hero__decor img:nth-child(7) {
    top: 44%;
  }
  .hero__decor img:nth-child(8) {
    right: 1.5%;
  }
  .hero__decor img:nth-child(9) {
    right: -13%;
  }
  .hero__decor img:nth-child(10) {
    right: -6%;
  }
  .hero__decor img:nth-child(14) {
    top: 68%;
  }
  .hero__btns {
    flex-direction: column;
  }
  /* ================================= */
  .main__about{
    padding-bottom: 40px;
  }
  .about__top {
    margin-bottom: 60px;
  }
  .about__title {
    font-size: 10vw;
  }
  .about__project{
    padding: 25px 20px 255px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-title{
    text-align: center;
    font-size: 9vw;
  }
  .project-text{
    text-align: center;
    margin-bottom: 35px;
  }
  /* ======================== */
  .main__service {
    padding-top: 60px;
  }
  /* ============================= */
  .main__our-work {
    padding-top: 30px;
  }
  .card-info{
    flex-direction: column;
    align-items: center;
  }
  .our-work__card-title{
    text-align: center;
    font-size: 22px;
  }
  /* =========================== */
  .contact__inner{
    min-height: 650px;
  }
  #apple, #twitter, #github, #facebook{
    font-size: 3em;
  }
  .contact__decor img:nth-child(3){
    display: none;
  }
  .contact__decoration img {
    width: 1100px;
    bottom: 0%;
}
  /* =========================== */
  .copyright-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
