@font-face {
    font-family: 'Saira';
    src: local('Saira SemiCondensed Medium'), local('SairaSemiCondensed-Medium'),
        url('/fonts/fonts/SairaSemiCondensed-Medium.woff2') format('woff2'),
        url('/fonts/SairaSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: local('Saira SemiCondensed SemiBold'), local('SairaSemiCondensed-SemiBold'),
        url('/fonts/SairaSemiCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/SairaSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    
}

@font-face {
    font-family: 'Saira';
    src: local('Saira SemiCondensed Bold'), local('SairaSemiCondensed-Bold'),
        url('/fonts/SairaSemiCondensed-Bold.woff2') format('woff2'),
        url('/fonts/SairaSemiCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: local('Saira SemiCondensed ExtraBold'), local('SairaSemiCondensed-ExtraBold'),
        url('/fonts/SairaSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('/fonts/SairaSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: local('Saira SemiCondensed Medium'), local('SairaSemiCondensed-Medium'),
        url('/fonts/fonts/SairaSemiCondensed-Medium.woff2') format('woff2'),
        url('/fonts/SairaSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('/fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('/fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('/fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('/fonts/SegoeUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), local('SegoeUI'),
        url('/fonts/SegoeUI.woff2') format('woff2'),
        url('/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
